<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Wheel Information -->
            <front_left_wheel>front_left_wheel_joint</front_left_wheel>
            <front_left_wheel_steer>front_left_wheel_steer_joint</front_left_wheel_steer>
            <front_right_wheel_steer>front_right_wheel_steer_joint</front_right_wheel>
            <front_right_whele>front_right_wheel_jointt</front_right_wheel>
            <rear_left_wheel>rear_left_wheel_joint</rear_left_wheel>
            <rear_right_wheel>rear_right_wheel_joint</rear_right_wheel>
            <wheel_separation>0.35</wheel_separation>
            <wheel_diameter>0.1</wheel_diameter>


            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>


</robot>
